{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Tools" {:file "doc/tools.md"}]
  ["Streaming" {:file "doc/streaming.md"}]
  ["Embeddings Files and Batches" {:file "doc/embeddings-files-batches.md"}]
  ["Images and Audio" {:file "doc/images-and-audio.md"}]
  ["Vector Stores" {:file "doc/vector-stores.md"}]
  ["Fine-tuning" {:file "doc/fine-tuning.md"}]
  ["Evals" {:file "doc/evals.md"}]
  ["Admin" {:file "doc/admin.md"}]
  ["Webhooks" {:file "doc/webhooks.md"}]
  ["Additional APIs" {:file "doc/additional-apis.md"}]
  ["Azure OpenAI" {:file "doc/azure.md"}]
  ["Responses and Errors" {:file "doc/responses-and-errors.md"}]
  ["Migrating" {:file "doc/migrating.md"}]
  ]}
